body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f3f3;
    color: #333;
 
}
.header-content {
    
    display: flex;
    justify-content: space-evenly;
    font-size:x-large;
    font-weight:bolder;
}
nav ul {
   
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    margin-right: 20px;
    
}

nav ul li a {
    color: rgb(19, 3, 3);
    text-decoration: none;
    font-weight: bold;
    font-size:x-large ;
    padding:20px 25px;
    line-height: 1.9;

    
}
.navbar{
    background-color:lightslategray;
    padding: 10px 15px;
    width: 100%;
    position:fixed;
    align-items:center ;
    justify-content:space-evenly;
    top:0;
    display:flex;
    
}
header {
    background: #333;
    color: #fff;
}

section {
    padding: 20px;
}

.intro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
.intro
{
    
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background-color:transparent;
        z-index: 10;
        text-align:center;
        min-height: 50%;
    
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size:medium;
    color: #333;
    margin-bottom: 20px;
    position:absolute;
}

.intro h1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.intro h2 {
    font-size:large;
    color: hsl(240, 4%, 5%);
    margin-bottom: 10px;
}

.intro p {
    font-size:medium;
    color: #555;
    line-height: 1.9;
}